<!DOCTYPE html>
<html>
<head>
    <title>{{ MAP_TITLE }}</title>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.ie.css" /><![endif]-->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <!--<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">-->

    <link rel="stylesheet" href="{{ STATIC_URL }}css/photomap.css">
    <script>
        window.MAP_CENTER = {{ MAP_CENTER }};
        window.DEFAULT_ZOOM = {{ DEFAULT_ZOOM }};
    </script>
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <span class="navbar-brand"><img src="{{ STATIC_URL }}{{ LOGO }}"></span>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav pull-right">
            <li><a href="#about" data-toggle="modal">About</a></li>
            <li><button type="button" class="btn btn-primary navbar-btn"
                data-toggle="modal" data-target="#upload-modal"
                onclick="$('#upload-form,#upload-submit').show();$('#update-form,#update-submit').hide();">
              <i class="glyphicon glyphicon-upload"></i>
              Add an image!</button></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>

    <div id="map"></div>

    <div class="modal fade" id="upload-modal" tabindex="-1" role="dialog" aria-labelledby="upload-modal-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="upload-modal-label">Add an image!</h4>
                </div>
                <div class="modal-body">
                    <form id="upload-form">
                        <div id="upload-container"><h1>
                                Drag file here to upload.</h1></div>

                        <label class="fallback">Choose file: <input type="file" name="image"></label>
                        <p class="unsupported" style="display:none">
                            Sorry, you must use at least IE 10 to add images to
                            the map.
                        </p>
                    </form>
                    <form id="update-form" style="display:none">
                        <p class="bg-warning" style="padding:15px">
                            No GPS info was found in the image metadata.
                            Click on the map below to set where this image was taken.
                        </p>
                        <div id="latlong-input-map"></div>
                        <input name="lat" type="hidden">
                        <input name="lng" type="hidden">
                        <input name="resource_uri" type="hidden">
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Nevermind</button>
                    <button form="upload-form" type="submit" class="btn btn-primary" id="upload-submit">Upload Image</button>
                    <button form="update-form" type="submit" class="btn btn-primary" id="update-submit" style="display:none">Add Geolocation Info</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="about-label" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="upload-modal-label">About {{ MAP_TITLE }}</h4>
                </div>
                <div class="modal-body">
                    {{ ABOUT|safe }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Awesome!</button>
                </div>
            </div>
        </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="http://cdn.leafletjs.com/leaflet-0.6.4/leaflet.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}js/photomap.js"></script>
</body>
</html>
