/* full page! */
html, body, #map {
    height:100%;
    width:100%;
    padding:0px;
    margin:0px;
} 

/* push down controls so they aren't under the navbar */
#map .leaflet-top {
    top: 50px;
}

.navbar {
    background: rgba(0, 0, 0, .8);
}
